<% @page_title = "Nyheter"%>
<%= render "nav" %>
<div id="content_l">			
test

</div>
	<div id="content_r">	
	<div class="fb-page" data-href="https://www.facebook.com/teatercamp" data-tabs="timeline" data-width="200" data-height="2000" data-small-header="true" data-adapt-container-width="false" data-hide-cover="true" data-show-facepile="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/teatercamp"><a href="https://www.facebook.com/teatercamp">Teatercamp</a></blockquote></div></div>
</div>

</div>



